* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > * {
  flex: 1;
  margin-bottom: 20px;
}
span {
  font-size: 80px;
}
button {
  background: #4f2aff;
  color: #fff;
  border: 2px solid #babada;
  outline: none;
  padding: 5px 10px;
  transition: all 0.1s;
  margin-top: 40px;
}
button:focus {
  box-shadow: 0 0 3px blue;
}
button:active {
  transform: scale(0.9);
}
