body {
  margin: 30px;
}
body,
button {
  font-family: 'IBM Plex Sans';
}

.chat {
  border: 1px solid #ccc;
  padding: 5px 20px;
  width: 300px;
  height: 200px;
  color: #555;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0.5, 0.5, 0.5, 0.15);
}
button {
  background: #3257ff;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px #3257ff;
  transition: box-shadow, background-color 0.12s;
  outline: none;
}
button:hover {
  background-color: #1431b9;
  cursor: pointer;
}
button:focus {
  box-shadow: 0 1px 8px #3257ff;
}
button:active {
  transform: scale(0.98);
}
