/* global style */
body {
  color: #222;
  font-family: 'IBM Plex Sans', sans-serif;
}

body,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-bottom: 1em;
}

li {
  list-style: none;
}

a:visited {
  color: inherit;
}

/* App component */

.App {
  max-width: 800px;
  margin: 0 auto;
}
.App main {
  margin: 20px;
}

/* NavBar component */
.App nav {
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #508fca;
}
.App nav ul {
  display: flex;
  align-items: baseline;
}
.App nav li {
  display: inline-block;
  margin-right: 32px;
  font-size: 16px;
  border-bottom: 4px solid transparent;
}
.App nav a {
  display: inline-block;
  text-decoration: none;
  transition: all 60ms ease-in-out;
  color: #222;
}
.App nav a:hover {
  transform: scale(1.15);
}
.App nav li.selected {
  border-bottom-color: #ffaa3f;
}

.App nav li.cart-count {
  margin-left: auto;
  margin-right: 0;
}

/* ItemPage */

/* Item */

.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.Item-title {
  font-weight: bold;
  margin-bottom: 0.4em;
}
.Item .price {
  font-size: 14px;
  color: #555;
  margin-left: auto;
  margin-right: 15px;
}
.Item .price:first-letter {
  display: inline-block;
  color: #777;
  margin-right: 1px;
  font-size: 11px;
  vertical-align: baseline;
}
.Item .add {
  font-size: 13px;
  border: 2px solid #ffaa3f;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.Item .add:hover {
  background-color: #ffddb2;
}
.Item .add:active {
  background-color: #ed8400;
  color: #fff;
  outline: none;
}
.Item .add:focus {
  outline: none;
}

/* CartPage */

.CartPage ul {
  margin-bottom: 1em;
}
.CartPage .total {
  text-align: right;
  margin-right: 10px;
}
.CartPage > button {
  font-size: 18px;
  border: 2px solid #14be14;
  border-radius: 3px;
  padding: 5px 8px;
  color: #fff;
  background: #268626;
  margin-left: auto;
  display: block;
  margin-top: 20px;
  outline: none;
}
.CartPage > button:focus {
  box-shadow: 0 0 5px #268626;
}
.CartPage > button:active {
  background: darkgreen;
  border-color: darkgreen;
}

/* CheckoutPage */

.CheckoutPage form .field-group {
  display: flex;
  flex-direction: column;
}
/* Full-width columns: Street, Email */
.CheckoutPage form .field-group:nth-child(3),
.CheckoutPage form .field-group:nth-child(4),
.CheckoutPage form .field-group:nth-child(7),
.CheckoutPage form section {
  grid-column: 1 / 3;
}
.CheckoutPage form h3 {
  margin: 30px 0 10px 0;
}
.CheckoutPage form .field-group:nth-child(7) {
  flex-direction: row;
  width: 100%;
}
.CheckoutPage form .field-group:nth-child(7) input {
  order: -1;
}
.CheckoutPage form .field-group label {
  font-size: 0.8em;
}
.CheckoutPage form .field-group input {
  padding: 6px 3px;
  font-size: 15px;
  outline: none;
  border: 1px solid #ccc;
}
.CheckoutPage form .field-group input:focus {
  box-shadow: 0 0 3px orange;
  border-color: darkorange;
}
.CheckoutPage form {
  display: grid;
  max-width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
