body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.alert {
  position: relative;
  border: 1px solid #d07571;
  background-color: #ffeae9;
  color: #a01717;
  padding: 20px;
  padding-left: 40px;
  border-radius: 2px;
  margin: 20px 0;
}
.alert i {
  position: absolute;
  opacity: 0.7;
  font-size: 1.2em;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.alert h3 {
  margin: 0;
  font-size: 0.9em;
  margin-bottom: 10px;
}
